@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,700&display=swap');

.container {
  background: #D6E7EC;
  display: flex;
  flex-direction: column-reverse;
  max-width: 60rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border: 1px solid #455587;
  &:hover {
    background: #EDEAC0;
  }

  @media (min-width: 560px) {
    border: none;
    flex-direction: row;
    margin-bottom: 0px;
    box-shadow: inset 0px -1px 0px #333333;
    &:last-of-type {
      box-shadow: none;
    }
  }
}

.first {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  height: 100%;
  border-top: 1pt solid #455587;
  border-right: none;
  @media (min-width: 560px) {
    border-top: none;
    border-right: 1pt solid #455587;
    flex-direction: column;
    height: auto;
    padding: 0.5rem;
  }
}
// .thumb {
//   width: 144px;
//   height: 144px;
// }


.secondOpen {
  padding: 1.5rem;
  width: auto;
  overflow: hidden;
  max-height: auto;
  transition: all .3s ease-in-out;
  @media (min-width: 560px) {
    padding: 0.5rem 0.5rem 1rem 1em;
    max-height: auto;
  }
}

.title {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
}
.date {
  font-size: 0.8rem;
  line-height: 1rem;
  font-weight: 400;
  margin: 0;
}

.body {
  color: #4f4f4f;
  margin: 0.5rem 0 0 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-line;
}

.bodyOpen {
  margin: 0.5rem 0 1rem 0;
  -webkit-line-clamp: unset;
  -webkit-box-orient: vertical;
  overflow: visible;
  text-overflow: unset;
  white-space: pre-line;
}

.seemore {
  display: inline;
  font-family: IBM Plex Mono;
  margin-top: 1rem;
  border: none;
  padding: 0;
  background: none;
  font-size: 1rem;
  line-height: 1.5rem;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    background-color: #EDC0CD;
    text-decoration: none;
  }
}
.button {
  background: none;
  border: none;
  padding: 4px;
  cursor: pointer;
}