
.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #455587;
}
.gif {
  width: 6rem;
  height: 6rem;
  border-radius: 120px 120px 0 0;
}

.heading {
    padding: 8px;
text-decoration: underline;
  color: #455587;
  margin: 1rem 0 0 0;
  &:hover {
    background-color: #EDC0CD;
    text-decoration: none;
    cursor: pointer;
  }
}

.subheading {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #455587;
  margin: 0;
}
