.container {
  width: 100%;
  padding: 3rem 1rem 0 1rem;
  margin: 0 auto 2rem;
  overflow-y: scroll;
}

.inner {
  max-width: 60rem;
  margin: auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}
