.container {
  overflow: scroll;
  height: calc(100vh - 80px);
  @media (min-width: 560px) {
    height: 100%;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 3rem 0 1rem 0;
  overflow-y: scroll;
  @media (min-width: 560px) {
    border: 1px solid #333;
  }
}