.player {
  min-height: 5rem;
  width: 100%;
  margin: auto;
  padding: 8px 24px;
  position: sticky;
  bottom: 0px;
  background: #fff;
  border-top: 1px solid #333;
  @media (min-width: 560px) {
    width: 32rem;
    bottom: 1rem;
    left: 1rem;
    margin: 0;
    position: fixed;
    border: 1px solid #333;
  }
}