.player {
  width: calc(100vw - 32px);
margin: auto;
  padding: 24px;
  position: sticky;
  bottom: 32px;
  left: 16px;
  background: #fff;
  border: 1px solid #333;
  @media (min-width: 560px) {
    width: 20rem;
    bottom: 32px;
    left: 16px;
    margin: 0;
  }
}