.player {
  display: block;
  min-height: 5rem;
  width: 100%;
  margin: auto;
  position: sticky;
  bottom: 0px;
  background: #D6E7EC;
  border-top: 1px solid #455587;
  
  // @media (min-width: 560px) {
  //   width: 32rem;
  //   bottom: 1rem;
  //   left: 1rem;
  //   margin: 0;
  //   position: fixed;
  //   border: 1px solid #455587;
  // }
}

.player_notPlaying {
  display: none;
  width: 100%;
  margin: auto;
  position: sticky;
  bottom: -80px;
  background: #D6E7EC;
  border-top: 1px solid #455587;
}

.title {
  padding-left: 1rem;
  margin-bottom: 0;
}