@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,700&display=swap");
.title {
  font-size: 32px;
  line-height: 48px;
   
  margin: 16px 0 0px 0;
}

.subtitle {
  font-size: .9rem;
  line-height: 1rem;
  font-weight: 400;
  margin: 0 0 24px 0;
}

.button {
  background: none;
  background-color: none;
  border: none;
  padding: 8px;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.5rem;
  display: inline-flex;
  margin-right: 8px;
  &:hover {
    background-color: #EDC0CD;
    text-decoration: none;
  }
}

.tracklistHeader {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-size: 1rem;
     
    line-height: 1.5rem;
    color: #455587;
    margin: 1rem 0 0rem 0;
}

.tracklist > p{
    margin:0;
}